@import '../utils/variables';
@import '../utils/mixins';

.activite {
  width: 835px;
  height: 320px;
  border-radius: 5px;
  background-color: $backround;
  @include desktop {
    width: 750px;
  }
}
.presentation {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
h3 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
}
.contentPoidCalorie {
  display: flex;
  margin-right: 30px;
}
.divpoids,
.divcalorie {
  display: flex;
  align-items: center;
}
.divpoids {
  margin-right: 50px;
}
.cercleNoir {
  width: 8px;
  height: 8px;
  background-color: $intensite;
  border-radius: 50%;
  margin-right: 15px;
}
.cercleRouge {
  width: 8px;
  height: 8px;
  background-color: $moyenne;
  border-radius: 50%;
  margin-right: 15px;
}
.calorie,
.poid {
  font-size: 14px;
}
