@import '../utils/variables';
@import '../utils/mixins';

.boite {
  @include boiteIcon;
}
.iconDiv {
  margin-left: 15px;
}
.img {
  @include formeIcon;
}
.textDiv {
  height: 60px;
  margin-right: 20px;
}
.textTop {
  @include textTopBoiteIcon;
}
.textBottom {
  @include textBottomBoiteIcon;
}
