@import '../utils/variables';

.contentError {
  width: 100%;
}

.erreur {
  color: $moyenne;
  font-size: 75px;
  text-align: center;
  margin-top: 200px;
}
.retourner {
  text-align: center;
}
ul {
  list-style-type: none;
}
