@import '../utils/variables';
@import '../utils/mixins';

.navleft {
  height: 100%;
  width: 117px;
  background-color: $header;
  @include desktop {
    height: 1500px;
  }
}
.contentIcon {
  height: 316px;
  width: 64px;
  margin: 0 auto;
  margin-top: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.copiryght {
  font-size: 12px;
  height: 35px;
  width: 138px;
  color: $blanc;
  transform: rotate(-90deg);
  margin-top: 190px;
  @include desktop {
    margin-top: 557px;
  }
}
