@import '../utils/variables';

.titres {
  margin-left: 107px;
  margin-top: 68px;
}
h1 {
  font-size: 48px;
  font-weight: 500;
  span {
    color: $name;
  }
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
